* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
.main-header {
  align-items: center;
  background-color: lightskyblue;
  text-align: center;
  color: black;
  width: 100%;
  font-style: italic;
  min-height: 8vh;
  padding-top: 17px;
  font-weight: bolder;
  font-size: 20px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: rgb(202, 232, 247);
  color: black;
  min-height: 10vh;
}
.logo {
  padding-left: 15px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
nav li {
  color: rgb(0, 89, 255);
}
.search-component {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.search-input {
  /*width: 150px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0.3rem 1rem;*/
  padding: 6px 16px;
  min-width: 200px;
  max-width: 100vw;
  font-size: 15px;
  border-radius: 4px;
}
.search-form {
  background-color: brown;
}
.submit-btn {
  position: absolute;
  top: 78px;
  padding: 6px 16px;
  margin-left: 6px;
  background-color: rgb(82, 170, 243);
  color: black;
  border-radius: 6px;
}

.home-pic {
  height: 250px;
  width: 1250px;
}
.home-para {
  padding: 10px;
  font-size: 16px;
}
.meal-deco img {
  display: block;
  width: 100%;
}
.footer {
  bottom: 0;
  width: 100vw;

  position: fixed;
}
footer .nav {
  /* this is footer navigation */
  display: flex;
  justify-content: space-between;
  width: auto;
  flex-direction: row;
  list-style-type: none;
  border: 1px solid #0059b3;
  background-color: rgb(202, 232, 247);
  color: black;
}

ul {
  list-style: none;
  padding-left: 0px;
}

header nav a,
footer nav a {
  /* for header and footer  */
  color: #3385ff;
  text-decoration: none;
  font-size: 12px;
}

footer nav {
  padding: 20px 50px;
}

.footer-input {
  width: 19em;
  height: 40px;
  justify-content: center;
  text-align: center;
  background-color: #fff0b3;
  font-weight: 500;
  font-size: 15px;
  border: none;
}

.row ul {
  line-height: 20px;
}

.flex-box {
  padding-bottom: 15px;
}
.meal-deco {
  width: 30%;
  padding: 20px;

  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(142, 232, 248)
  );

  margin-bottom: 25px;
  text-align: center;
  align-items: center;
}
.meal-img {
  display: block;
  width: 100px;
}

.meal-menu {
  justify-content: center;
  text-align: center;
}
.all-meals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(188, 233, 247);
}
.reservation-pic {
  width: 100%;
}
.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*.heading {
  color: white;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1px;
  padding-top: 2rem;
  text-align: center;
  text-shadow: brown;
}
.heading h4 {
  color: white;
  text-align: center;
}
.searchBox {
  text-align: center;
  margin: 3rem;
}
.search-bar {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0.3rem 1rem;
}
.container {
  width: 80%;
  margin: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 300px;
  height: 400px;
  margin: 1.5rem;
  background: lightsalmon;
  border-radius: 8px;
  box-shadow: 0 7px 12px rebeccapurple;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
}
.card img {
  width: 100%;
}
.card .info {
  color: aqua;
  text-align: center;
}
.card .info h2 {
  margin: 0;
  font-weight: 900;
  margin-top: 15px;
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: lightsalmon;
}
.card:hover:before {
  height: 100%;
}
.card:hover {
  background-color: blue;
}
.card .recipe {
  position: absolute;
  top: 0;
  left: 0;
  text-align: justify;
  padding: 0.5rem 1rem;
  display: none;
  transition: 0.2s all;
}
.card:hover .recipe {
  display: block;
}
.recipe img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.not-found {
  font-size: 35px;
  color: rgb(247, 243, 243);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(202, 232, 247);
  width: 100vw;
  min-height: 10vh;
}
header {
  color: white;
  background-color: black;
  display: flex;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 3px 6px #555;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.search-component {
  text-align: center;
  margin: 1rem;
}
.search-input {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0.3rem 1rem;
}
h3 {
  padding-left: 20px;
}
.nav-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
footer {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 20px;
  align-items: center;
  color: black;
}
.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
img {
  width: 100vw;
}
meal-img {
  width: 100%;
  display: block;
}
.meal-menu {
  justify-content: center;
  font-size: 50px;
  color: red;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
}
.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: brown solid 2px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(156, 234, 245);
  color: white;
  text-align: center;
  font-size: 8px;
}
.meal-deco .info-meal {
  color: blueviolet;
  text-align: center;
}

/*.mealDeco {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(170, 232, 243);
  border: rgb(7, 7, 6) solid 1px;
  gap: 20px;
  padding: 30px;
  box-shadow: 0 3px 10px 0 brown;
}
.reservation-pic {
  width: 50%;
  height: 300px;
}
.meal-deco {
  display: flex;
  flex-wrap: wrap;
  width: 26%;
  text-align: center;
  justify-content: center;
  padding: 15px;
}
.all-meals {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
  margin: 0 auto;
}
nav .reservation-h1 {
  align-items: center;
  justify-content: center;
}*/
